ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px var(--ax-border-neutral-subtle);
  background-color: var(--ax-bg-default);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.li {
  padding: 0.5rem 1rem;
}
