ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px var(--a-border-default);
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--a-bg-default);
  z-index: 1;
}

.li {
  padding: 0.5rem 1rem;
}

.redigeringsmodus {
  margin-left: auto;
  padding: 0.5rem 1rem;
}
